<div class="carousel slide" id="myCarousel">
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
    <li data-slide-to="1" data-target="#myCarousel" class=""></li>
    <li data-slide-to="2" data-target="#myCarousel" class=""></li>
  </ol>
  <div class="carousel-inner">
    <% @products.each_with_index do |product, idx| %>
    <div class="item <%= 'active' if idx.zero? %>">
      <center>
        <%= image_tag(product.photo.url, :class => "dd") %>
      </center>

      <div class="carousel-caption">
        <h4>Name : <%= product.name %></h4>
        <h4>Price : <span class="red"><%= number_to_currency(product.price, unit: "Rp. " ) %></span></h4>
        <h4>Description : <%= product.description %></h4>
      </div>
    </div>
   <% end %>
  </div>
  <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
  <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
</div>

<%= will_paginate @products, renderer: BootstrapPagination::Rails, :class => "pagination pagination-centered" %>
<script>
      $('.carousel').carousel({
    interval: 2000
    })
</script>