<h1 style="text-align: center">Listing products</h1>

<table class="table table-bordered">
   <tr style="background-color: #222222; color:#fff">
    <th>Name</th>
    <th>Price</th>
    <th>Photo</th>
    <th>Description</th>
    <th style="text-align: center" colspan="3">Action</th>

  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= number_to_currency(product.price, unit: "Rp. " ) %></td>
    <td><%= image_tag(product.photo_url(:thumb).to_s) %></td>
    <td><%= product.description %></td>
    <td><%= link_to "<i class=\"icon-fire\"></i> Show".html_safe, product, :class => "btn btn-primary" %></td>
    <td><%= link_to "<i class=\"icon-fire\"></i> Edit".html_safe, edit_product_path(product), :class => "btn btn-success" %></td>
    <td><%= link_to "<i class=\"icon-fire\"></i> Destroy".html_safe, product, :confirm => 'Are you sure?', :class => "btn btn-danger", :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @products, renderer: BootstrapPagination::Rails, :class => "pagination pagination-centered" %>
<br />

<%= link_to 'New Product', new_product_path, :class => "btn btn-geckoboard1" %>
