<h1>Listing Order</h1>

<table class="table table-bordered">
  <tr>
    <th>Shipping</th>
    <th>Phone</th>
    <th style="text-align: center" colspan="3">action</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.shipping %></td>
    <td><%= order.phone %></td>
    <td><%= link_to "<i class=\"icon-fire\"></i> Show".html_safe, order_path(order), :class => "btn btn-primary" %></td>
    <td><%= link_to "<i class=\"icon-fire\"></i> Edit".html_safe, edit_order_path(order), :class => "btn btn-success" %></td>
    <td><%= link_to "<i class=\"icon-fire\"></i> Destroy".html_safe, order_path(order), :confirm => 'Are you sure?', :class => "btn btn-danger", :method => :delete %></td>
  </tr>
<% end %>

</table>


