<p id="notice"><%= notice %></p>

<p>
  <b>Shipping:</b>
  <%= @order.shipping %>
</p>

<p>
  <b>Phone</b>
  <%= @order.phone %>
</p>

<table class="table table-bordered">
      <tr>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
     <% @dorders.each do |dorder| %>
  <tr>
    <td><%= dorder.product.name %></td>
    <td><%= dorder.quantity %></td>
   
  </tr>
</table>

<% end %>

<%= link_to 'Back', orders_path %>